.mainContainer{
  flex: 3;
  background-color: rgb(104, 104, 226);
}

.mainNavbar{
  margin-top: 13px;
  background-color: rgb(104, 104, 226);
  height: 10vh;
}

.notificationicon{
  width: 28px;
  height: 28px;
  object-fit: cover;
  margin-right: 10px;
  
}

.profileimage{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.searchicon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.profilename{
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

.serachbar{
  width: 25pc;
  height: 38px;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
  border: none;
}

input {
  color:black;
}

.coverimage{
  width: 67pc;
  height: 60vh;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 30px;
}

.AnimeContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.AnimeWrapper{
  margin: 20px;
  width: 300px;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AnimeTittle{
  font-weight: bold;
}

.AnimeEpisode{
  color: blue;
  font-weight: bold;
}

.AnimeScore{
  font-weight: bold;
  color: green;
  font-style: italic;
}

.ButtonWath{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor:pointer;
}

.AnimeWrapperDet{
  margin: 20px;
  width: auto;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.AnimeTittleDet{
  font-weight: bold;
  font-size:xx-large;
}

.AnimeEpisodeDet{
  color: blue;
  font-weight: bold;
}


.AnimeSynopsisDet{
  padding: 20px;
  color: green;
  font-style: italic;
}